body {
   font-family: 'Open Sans', sans-serif;
   background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #916e2d 100%);
   background-attachment: fixed;
 }
 
 html, body {
   height: 100%;
}

.jumbotron {
   background-image: url('./images/michael-payne-red-panda.jpg');
   background-size: cover;
   background-position: 0% 50%;
   height: 300px;
}

.mask {
   background: rgba(0, 0, 0, .3);
}